<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ON THIS DAY IN HISTORY</title>
    <!-- Custom Font - Change 'Muli' to the font you want -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- Custom CSS inside CSS folder -->
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/archive">Archive</a></li>
                        <li><a href="/summary">Summary</a><li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="main">
            <h1>Success</h1>
        </div>
    </div>

    <div class="container">
        <!-- <div class="row" id="display"></div> -->
        <a href="/home"><button type="button" class="btn btn-default">Record Another</button></a>

    </div>

    <div class="push"></div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5>&copy; <a href="http://songhia.com">Zero Co. 2015</a> <img src="img/PoweredBy_200_Horizontal_Light-Backgrounds_With_Logo.gif"></h5>
                </div>
            </div>
        </div>
    </div>

</body>
<!-- JQuery script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- CUSTOM JS -->
<script src="js/success.js"></script>

<!-- GOOGLE TRACKING -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76252143-1', 'auto');
  ga('send', 'pageview');

</script>

</html>
