/**************/
/* Custom CSS */
/**************/

body {
  background: #4ECDC4;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

label {
  color: #fff;

}

a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
    padding:12px;
}

a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.header{
      background-color: #4ECDC4;
}

.nav li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
  margin:0 10px 0 10px;
  text-transform: uppercase;
}

.main {
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 5px;
}

.push {
  margin-bottom: 80px;
}

.main h1 {
	font-family: 'Cooper Hewitt', sans-serif;
  color: #4ECDC4;
  text-transform: uppercase;
}

.twilio {
  background-color: #0FB8E4;
/*  color: #0F7ADA;*/
  color: #fff;
  position: fixed;
  bottom: 0;
  padding-bottom: 50px;
  width: 100%;
}

.twilio h5 {
  text-transform: uppercase;
}

.modal-header h4{
  font-family: 'Cooper Hewitt', sans-serif;
  color: #0F7ADA;
}

.modal-body {
  background: #0F7ADA;
}

.footer {
  background-color: #fff;
  color: #0F7ADA;
  padding-top: 10px;
  position: fixed;
  bottom:0;
  width: 100%;
}

.footer p {
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-family: 'Cooper Hewitt', sans-serif;
}

.footer a {
  color: #4ECDC4;
}
